@import url("http://fonts.cdnfonts.com/css/gilroy-bold");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* font-family: "Gilroy-Bold", sans-serif;
  font-family: "Gilroy-Heavy", sans-serif;
  font-family: "Gilroy-Light", sans-serif;
  font-family: "Gilroy-Medium", sans-serif; */
  font-family: "Gilroy-Regular", sans-serif;
}

a {
  font-family: "Gilroy-Bold", sans-serif;
  font-size: 18px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

/* HEADER */
.header {
  background-image: url("./assets/hero-bg.webp");
  color: #fff;
  min-height: 100vh;
  padding: 60px 200px 200px;
}

/* HEADER > NAVBAR */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  max-width: 49px;
}

.logo img {
  width: 100%;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 40px;
}

/* HEADER > BANNER */
.banner {
  background-color: #272727;
  width: 100vw;
  padding: 30px;
  transform: translate(-14.8%);
  text-align: center;
  margin: 60px auto;
  font-family: "Gilroy-Bold", sans-serif;
  font-size: 28px;
}

.header-cta {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-family: "Gilroy-Bold", sans-serif;
  font-size: 96px;
}

h4 {
  font-family: "Gilroy-Bold", sans-serif;
  font-size: 24px;
  margin: 50px auto;
}

.btn {
  font-family: "Gilroy-Medium", sans-serif;
  width: 250px;
  height: 60px;
  border: 1px solid #fff;
  border-radius: 50px;
  background-color: #fff;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.btn span {
  font-size: 18px;
  font-weight: bold;
}

/* PHONE REVEAL */
.reveal-phones {
  position: relative;
  background: url("./assets/video-bg.webp");
  min-height: 825px;
  /* padding: ; */
}

.reveal {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.revealed {
  position: absolute;
  top: 25px;
}

.revealed.left-2 {
  position: absolute;
  z-index: 0;
  left: 25%;
  transform: translateX(-50%);
  transition: transform 1s ease-in-out;
}

.revealed.left-1 {
  position: absolute;
  z-index: 1;
  left: 37.5%;
  transform: translateX(-50%) translateY(-5%);
  transition: transform 1s ease-in-out;
}

.revealed.center {
  position: absolute;
  z-index: 2;
  left: 50%;
  transform: translateX(-50%) translateY(-10%);
  transition: transform 1s ease-in-out;
}

.revealed.right-1 {
  position: absolute;
  z-index: 1;
  right: 37.5%;
  transform: translateX(50%) translateY(-5%);
  transition: transform 1s ease-in-out;
  /* display: none; */
}

.revealed.right-2 {
  position: absolute;
  z-index: 0;
  right: 25%;
  transform: translateX(50%);
  transition: transform 1s ease-in-out;
}
