@import url("http://fonts.cdnfonts.com/css/gilroy-bold");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* font-family: "Gilroy-Bold", sans-serif;
  font-family: "Gilroy-Heavy", sans-serif;
  font-family: "Gilroy-Light", sans-serif;
  font-family: "Gilroy-Medium", sans-serif; */
  font-family: "Gilroy-Regular", sans-serif;
}

a {
  font-family: "Gilroy-Bold", sans-serif;
  font-size: 18px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

/* HEADER */
.header {
  background-image: url("./assets/hero-bg.webp");
  color: #fff;
  min-height: 100vh;
  padding: 60px 200px 200px;
}

/* HEADER > NAVBAR */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  max-width: 49px;
}

.logo img {
  width: 100%;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 40px;
}

/* HEADER > BANNER */
.banner {
  background-color: #272727;
  width: 100vw;
  padding: 30px;
  transform: translate(-15.9%);
  text-align: center;
  margin: 60px auto;
  font-family: "Gilroy-Bold", sans-serif;
  font-size: 28px;
}

.header-cta {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header-cta h1 {
  font-family: "Gilroy-Bold", sans-serif;
  font-size: 96px;
}

.header-cta h4 {
  font-family: "Gilroy-Bold", sans-serif;
  font-size: 24px;
  margin: 50px auto;
}

.btn {
  width: 300px;
  height: 60px;
  border: 1px solid #fff;
  border-radius: 50px;
  background-color: #fff;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 20px 40px;
}

.btn span {
  font-family: "Gilroy-Medium", sans-serif;
  font-size: 18px;
  font-weight: bold;
}

/* PHONE REVEAL */
.reveal-phones {
  position: relative;
  background: url("./assets/video-bg.webp");
  min-height: 825px;
  /* padding: ; */
}

.reveal {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.revealed {
  position: absolute;
  top: 25px;
}

.revealed.left-2 {
  position: absolute;
  z-index: 0;
  left: 25%;
  transform: translateX(-50%);
  transition: transform 1s ease-in-out;
}

.revealed.left-1 {
  position: absolute;
  z-index: 1;
  left: 37.5%;
  transform: translateX(-50%) translateY(-5%);
  transition: transform 1s ease-in-out;
}

.revealed.center {
  position: absolute;
  z-index: 2;
  left: 50%;
  transform: translateX(-50%) translateY(-10%);
  transition: transform 1s ease-in-out;
}

.revealed.right-1 {
  position: absolute;
  z-index: 1;
  right: 37.5%;
  transform: translateX(50%) translateY(-5%);
  transition: transform 1s ease-in-out;
  /* display: none; */
}

.revealed.right-2 {
  position: absolute;
  z-index: 0;
  right: 25%;
  transform: translateX(50%);
  transition: transform 1s ease-in-out;
}

/* REWARDS */
.rewards {
  background: url("./assets/deserve-more-bg.webp");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  padding: 200px 150px 200px;
  color: #fff;
}

.information {
  max-width: 60%;
}

.information h2 {
  font-size: 96px;
  line-height: 1;
  font-family: "Gilroy-Bold", sans-serif;
}

.information h4 {
  font-family: "Gilroy-Bold", sans-serif;
  font-size: 32px;
  margin-top: 20px;
}

.information p {
  font-family: "Gilroy-Medium", sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.5;
}

.information .btn {
  margin-top: 25px;
}

/* BRANDS */
.brands {
  padding: 60px 150px;
  min-height: 200px;
  font-family: "Gilroy-Medium", sans-serif;
}

.brand-img {
  height: 50px;
  width: 100%;
  background-image: url("./assets/brands-desktop.png");
  background-position: center center;
  background-size: 100%;
  background-repeat: no-repeat;
  margin-top: 40px;
}

/* Experience */
.experience {
  background-image: url(./assets/money-matters-bg.webp);
  background-position: center center;
  background-size: cover;
  height: 800px;
  padding: 200px 150px 200px;
  color: #fff;
}

.experience h2 {
  font-family: "Gilroy-Bold", sans-serif;
  font-size: 96px;
  line-height: 1;
}

.experience h4 {
  margin-top: 20px;
  font-family: "Gilroy-Bold", sans-serif;
  font-size: 32px;
}

.experience-info {
  width: 62%;
}

.experience p {
  font-family: "Gilroy-Medium", sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.5;
}

.experience .btn {
  margin-top: 40px;
}

/* SECURITY */
.security {
  min-height: 800px;
  background-image: url("./assets/security-bg.webp");
  background-size: cover;
  color: #fff;
  padding: 200px 150px 200px;
}

.security-content {
  width: 60%;
}

.security-content h2 {
  font-family: "Gilroy-Bold", sans-serif;
  font-size: 96px;
  line-height: 1;
}

.security-content h4 {
  margin-top: 20px;
  font-family: "Gilroy-Bold", sans-serif;
  font-size: 32px;
}

.security-content p {
  font-family: "Gilroy-Medium", sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.5;
}

.security-content .btn {
  margin-top: 40px;
}

/* TRUST */
.trust {
  background: url("./assets/trust-bg.webp");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 800px;
  color: #fff;
  padding: 200px 150px 200px;
  display: flex;
}

.trust-left-content {
  width: 50%;
  padding: 100px 100px;
  display: flex;
  align-items: flex-end;
}

.trust-left-content h2 {
  font-family: "Gilroy-Bold", sans-serif;
  font-size: 48px;
}

.trust-right-content {
  width: 50%;
  min-height: 500px;
}

.trust-right-content p {
  font-family: "Gilroy-Medium", sans-serif;
  font-size: 19px;
  line-height: 1.5;
  margin-bottom: 20px;
}

/* DOWNLOAD */
.download {
  min-height: 800px;
  background: url("./assets/hero-bg.webp");
  background-size: cover;
  color: #fff;
  padding: 100px 200px;
}

.store {
  display: flex;
  gap: 100px;
  padding: 50px;
}

.app-store {
  width: 50%;
}

.rating-text {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.store h2 {
  font-family: "Gilroy-Bold", sans-serif;
  font-size: 144px;
}

.store h4 {
  font-family: "Gilroy-Bold", sans-serif;
  font-size: 48px;
  line-height: 1;
}

.app-store .rating-img {
  width: 200px;
  margin: 40px 0;
}

.app-store .rating-img img {
  width: 100%;
}

.play-store .rating-img {
  width: 200px;
  margin: 40px 0;
}

.play-store .rating-img img {
  width: 100%;
}

.play-store {
  width: 50%;
}

.store .btn {
  height: 70px;
  width: 350px;
}

.btn img {
  width: 40px;
  margin-right: 20px;
}
